<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Murcia Divergente</h1>
        <p>Solidaridad, ecología, activismo y DIY</p>
      </header>
      <p>Murcia Divergente es un proyecto periodístico emergente que surge para dar visibilidad a las iniciativas solidarias, ecológicas, activistas y DIY que forman parte de la sociedad murciana.</p>
      <ul class="actions">
        <li><a href="#" class="button big">Leer más</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/md.png" alt="" />
    </span>
  </section>